@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #4facfe 0%, #00f2fe 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
}

.searchContainer {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
}

.searchContainer input[type = "submit"] {
    border-radius: 1.2rem;
    border: none;
    width: auto;
    padding: 10px 12px;
    font-size: 1rem;
    cursor: pointer;
}

#citySearch {
    height: 2.5rem;
    width: 10rem;
    border-radius: 1.2rem;
    border: none;
    padding-left: 20px;
    font-size: 1.2rem;
}

#citySearch:focus {
    outline: none;
}


.todayWeatherCont {
    background-color: white;
    margin: 50px auto;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 1.2rem;
}

.todayWeatherCont h2 {
    margin: 0;
    font-size: 2.5rem;
}

.todayWeatherDiv {
    display: flex;
    gap: 20px;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.todayWeatherDiv img {
    flex-shrink: 0;
    width: 150px;
    height: auto;
}

.todayWeather h2{
    font-size: 2.8rem;
}

.todayWeather p {
    font-size: 1.6rem;
    margin: 10px 0;
}